/node_modules/

/dist/
/build/
/out/
/coverage/
/.cache/
/.vite/
/.vite-temp/
/.vitest/

/.eslintcache
/*.tsbuildinfo

/.idea/
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/tasks.json
/*.iml
/*.ipr
/*.iws

/logs/
/*.log
/*.log.*
/*.out
/*.err
/pnpm-debug.log*

/.env
/.env.*
!/.env.example
