.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.Trash-*
.nfs*

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

.pnpm-store/

logs/
*.log
*.log.*
*.out
*.err

dist/
build/
out/
coverage/
.nyc_output/
lib-cov/

.cache/
.parcel-cache/
.vite/
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/

.vitest/

.eslintcache
.stylelintcache

.env
.env.*
!.env.example

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

.idea/*
*.iml
*.ipr
*.iws

*.sublime-workspace
*.sublime-project

*.tgz
bower_components/
jspm_packages/
web_modules/

storybook-static/

.pnp.*
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/

temp/
tmp/
*.tmp